name: CI

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    init:
        runs-on: ubuntu-latest
        name: Initialize build
        outputs:
            changed_addons: ${{ steps.changed_addons.outputs.addons }}
            changed: ${{ steps.changed_addons.outputs.changed }}
        steps:
            - name: Check out repository
              uses: actions/checkout@v6

            - name: Get changed files
              id: changed_files
              uses: jitterbit/get-changed-files@v1

            - name: Find add-on directories
              id: changed_addons
              run: |
                declare -a changed_addons
                for file in ${{ steps.changed_files.outputs.all }}; do
                  if [[ $file =~ ^[^/]+/config.yaml$ ]]; then
                    addon=$(echo $file | cut -d'/' -f1)
                    if [[ ! " ${changed_addons[@]} " =~ " ${addon} " ]]; then
                      changed_addons+=($addon)
                    fi
                  fi
                done

                changed=$(echo ${#changed_addons[@]})
                if [[ "$changed" -gt 0 ]]; then
                  echo "changed=true" >> $GITHUB_OUTPUT
                  addons=$(echo ${changed_addons[@]} | jq -R -c 'split(" ")')
                  echo "addons=$addons" >> $GITHUB_OUTPUT
                else
                  echo "changed=false" >> $GITHUB_OUTPUT
                  echo "addons=[]" >> $GITHUB_OUTPUT
                fi

    build:
        needs: init
        runs-on: ubuntu-latest
        if: needs.init.outputs.changed == 'true'
        name: Build ${{ matrix.addon }} add-on
        strategy:
            matrix:
                addon: ${{ fromJson(needs.init.outputs.changed_addons) }}
        steps:
            - name: Check out repository
              uses: actions/checkout@v6

            - name: Get information
              id: info
              uses: frenck/action-addon-information@v1
              with:
                path: "./${{ matrix.addon }}"

            - name: Check if add-on should be built
              id: check
              run: |
                if [[ "${{ steps.info.outputs.architectures }}" =~ amd64 ]]; then
                  echo "build_arch=true" >> $GITHUB_OUTPUT
                else
                  echo "build_arch=false" >> $GITHUB_OUTPUT
                fi

            - name: Login to GitHub Container Registry
              if: steps.check.outputs.build_arch == 'true'
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build ${{ matrix.addon }} add-on
              if: steps.check.outputs.build_arch == 'true'
              uses: home-assistant/builder@master
              with:
                args: |
                    --test \
                    --amd64 \
                    --target ${{ matrix.addon }} \
                    --docker-hub ghcr.io/${{ github.repository_owner }}
